@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

#e-onboarding-root {
  display: flex;
  height: 690px;
  width: 100%;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}
