#e-onboarding-root {
  display: flex;
  height: 690px;
  width: 100%;
  align-items: center;
}

.e-onboarding-page {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  &__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
  }

  &__image {
	flex: 1;
	background-color: gray;
  }
}

.circle {
  background-color: lightblue;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.smallCircle {
  background-color: lightblue;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.selected {
  background-color: red;
}

.e-onboarding-progress-bar {
  display: flex;
  width: 100%;
  min-height: 50px;
  background-color: gray;
}

.e-onboarding-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 3rem;
  background: #FFFFFF;
  box-shadow: 0 3px 16px rgba(35, 38, 42, 0.2);
  box-sizing: border-box;

  &__content {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
	margin-bottom: 50px;

	&-next-button {
	  width: 50%;
	}
  }
}
