$root: e-app-plugins-list-item;

.#{$root} {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__title-container {
	display: flex;
	align-items: center;
  }

  &__checkbox {
	margin-inline-end: spacing(12);
  }

  &__checkbox-disabled {
	margin-inline-end: spacing(12);
	background-color: $eps-gray-500;
	border-color: $eps-gray-500;
  }

  &__title {
	text-align: left;
  }

  &__version {
	.eps-icon {
	  margin-left: 5px;
	}
  }
}
