$root: e-app-plugins-content;

.#{$root} {
  //--e-app-export-kit-content-title-color: #{$e-app-export-kit-content-title-color};
  //--e-app-export-kit-content-description-color: #{$e-app-export-kit-content-description-color};

  //flex: 1;

  cursor: pointer;

  &__checkbox {
	flex-shrink: 0;
	margin-inline-end: spacing(12);
  }

  &__title {
	text-align: left;
  }

  &__status {

  }
  &__version {
	color: $eps-theme-info
  }
}
