$root: e-app-import-plugins;

.#{$root} {

  .e-app-import-plugins-section {
	display: flex;
	flex-direction: column;
	margin-top: 30px;

	&__plugins-box {
	  display: flex;
	  flex-direction: column;
	}

	&__description {
	  margin-bottom: 16px;
	}

  }

  &__pro-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 94px;
	padding: 20px;

	button {
	  color: $color-red-rose-garnet;
	  background-color: transparent;
	  border: 1px solid $color-red-rose-garnet;
	}

	&-text {
	  display: flex;
	  flex-direction: column;

	  h5 {
		font-weight: bold;
	  }
	}
  }

}

.e-app-import-plugins-list {

  &__header {
	font-weight: bold;
  }
}
